body{
    background: rgb(0 28 65);
    /* min-height: 100vh; */
}
@media (max-width: 767px) {
    body {
      background-color: #ffffff;
      min-height: 100vh;
    }
    .custom-shape-divider-bottom-1720459534{
        display:none;
    }
    #display{
        display: none;
    }
    #display_none{
        display: contents;
    }
    #footer_display_none{
        display: contents;
    }
    #footer_display{
        display: none;
    }
}
@media (min-width: 767px) {
    #display_none{
        display: none;
    }
    #footer_display_none{
        display: none;
    }
}
.title-sitio{
    color:rgb(255, 255, 255);
}

/* ******************** */
.custom-shape-divider-bottom-1720459534 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1720459534 svg {
    position: relative;
    display: block;
    width: calc(142% + 1.3px);
    height: 279px;
}

.custom-shape-divider-bottom-1720459534 .shape-fill {
    fill: #FFFFFF;
}